
*.iml
.idea/


.DS_Store


.gradle/
gradle.properties


local.properties


/build/
.externalNativeBuild/
.cxx/
captures/
output.json


*.apk
*.aab


*.jks
*.keystore
google-services.json


*.log
*.hprof
*.stacktrace
*.trace


.local/
.temp/
test-results/
outputs/
